language: node_js
sudo: false
node_js:
  - 6
  - 7
  - 8
  - 9
  - 10
  - 11
  - 12
  - 13

os:
  - linux
  - osx
script:
  - npm run test-with-coverage
  - npm run lint
  # make sure when the docs are generated nothing changes (a.k.a. the docs have already been generated)
  - npm run gendocs
  - npm run check-node-support
  - npm run after-travis "Make sure to generate docs!"
after_success:
  - npm run codecov -- -f coverage/lcov.info

notifications:
  email: false
