name: CI
on:
  - push
  - pull_request
env:
  ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
jobs:
  test:
    name: Node.js ${{ matrix.node-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version:
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        exclude:
          - node-version: 8
            os: macos-latest
          - node-version: 9
            os: macos-latest
          - node-version: 10
            os: macos-latest
          - node-version: 11
            os: macos-latest
          - node-version: 12
            os: macos-latest
          - node-version: 13
            os: macos-latest
          - node-version: 14
            os: macos-latest
          - node-version: 15
            os: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - name: test with coverage
        run: npm run test-with-coverage
        if: matrix.node-version >= 10
      - name: test without coverage (coverage broken on node < 10)
        run: npm run test
        if: matrix.node-version < 10
      - run: npm run lint
      - run: npm run gendocs
      - run: npm run check-node-support
      - name: Check for modified files (skip on Windows)
        run: npm run after-travis
        if: matrix.os != 'windows-latest'
      - name: Upload coverage reports to Codecov
        if: matrix.node-version >= 10
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
